/* scroll design */
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
}
#style-2::-webkit-scrollbar
{
	width: 0px;
}
#style-2::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}
#style-2::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}
/* ----------------------- */

body {
    overflow-x: hidden;
}
.bgcolor {
    background-color: #000000;
    background-image: linear-gradient(212deg, #000000 0%, #361257 50%, #a6b0b8 100%);
}
.mynav {
    transition: background .5s;
}
nav.scrolled {
    background-color: #081451;
    background-image: linear-gradient(90deg, #081451 0%, #C850C0 46%, #000000 100%);
}
.menu {
    backdrop-filter: blur(10px);
    text-shadow: 10px 10px 10px black, 0 0 1em black, 0 0 0.2em black;
}
.menu:hover {
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.mytitle {
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.hero {
    /* height: calc(100vh - 56.8px); */
    min-height: 100vh;
}
.parallax1 {
    background-image: url("/img/bulb.jpg");
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project {
    min-height: 100vh;
    background: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%);
}
.work {
    background-image: url("/img/lights.jpg");
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.active {
    color: white;
    text-shadow: 2px 2px 4px yellow, 0 0 1em yellow, 0 0 0.2em yellow;
}
.fstyle {
    font-family: "Lucida Console", "Courier New", monospace;
}
.smalltxt {
    font-size: 12px;
}
.contact {
    min-height: 100vh;
    background: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%);
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.pjcontainer:hover .overlay {
    opacity: 1;
}
.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: #ababab;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 25px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
.btn2 {
    padding: 10px 40px;
    display: inline-block;
    margin-top: 20px;
}
.btn3 {
    padding: 10px 40px;
    display: inline-block;

}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.hero-flex {
    flex-direction: row;
}
@media only screen and (max-width: 1050px) {
    .hero-flex {
        flex-direction: column-reverse;
    }
}
.hero-pic {
    flex-direction: row;
}
.hero-name {
    align-items: flex-end;
}

@media only screen and (max-width: 560px) {
    .hero-pic {
        flex-direction: column;
    }
    .hero-name {
        align-items: center;
    }
    .hero-hide {
        display: none;
    }
}
.pjm {
    margin-top: 30px;
}
.pjs {
    align-self: start;
    flex-direction: row;
}
.pje {
    align-self: end;
    flex-direction: row-reverse;
}
@media only screen and (min-width: 1400px) {
    .pjm {
        margin-top: -100px;
    }
}
@media only screen and (max-width: 767px) {
    .pjs, .pje {
        align-self: center;
    }
}
@media only screen and (max-width: 650px) {
    .pjs, .pje {
        flex-direction: column;
    }
}